---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro'
import Squiggle from '../components/Footer/Squiggle.astro'
import { ViewTransitions } from 'astro:transitions'
import MagicBento from '../components/MagicBento';
interface MarkdownFrontmatter {
  date: number;
}

const title = 'Welkom bij Gaeltacht Amsterdam';
const description = 'Gemeenschapssite voor Ierse sprekers in Amsterdam';
const seoDescription = 'Gemeenschapssite voor Ierse sprekers in Amsterdam';

const allPosts = await Astro.glob<MarkdownFrontmatter>('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

const allEvents = await Astro.glob<MarkdownFrontmatter>('./events/*.md');
const sortedEvents = allEvents.sort((a, b) => new Date(b.frontmatter.eventDate).valueOf() - new Date(a.frontmatter.eventDate).valueOf());

---

<html lang="nl">

<head>
  <BaseHead title={title} description={seoDescription} />
  <ViewTransitions />
</head>

<body class="bg-gray-50 text-gray-900 font-body leading-normal personality-casual">
  <Nav />
  
  <main class="py-12 lg:py-20" transition:animate="fade">
    
    <article class="max-w-6xl mx-auto px-3">
      <HomeHeader title={title} description={description} />
      <section class="max-w-full mx-auto py-6 lg:py-12 content">
        {sortedPosts.slice(0, 1).map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
        {sortedPosts.map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
    </article>
  </main>

  <section class="flex space-x-4 justify-center text-xl font-bold">
    <a href="/posts" class="mr-8" data-test="see-all-link">
      Bekijk Alle Berichten<span class="squiggle">&rarr;</span>
    </a>
    <a href="/events" class="ml-8" data-test="see-events-link">
      Evenementen<span class="squiggle">&rarr;</span>
    </a>
  </section>
  <section class="max-w-full mx-auto py-6 lg:py-12 content">
    <MagicBento 
      textAutoHide={true}
      enableStars={true}
      enableSpotlight={true}
    />
  </section>

  <Footer />
  <Squiggle />
</body>

</html>
