---
import Nav from '../components/Nav.astro';
import BaseHead from '../components/Head/BaseHead.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Products from '../components/Products';
import { ViewTransitions } from "astro:transitions";
import Counter from '../components/Counter';

const {content} = Astro.props;
const {title, description } = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={'Caint âŠ Pints'} description={description} />
    <ViewTransitions />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav />
    <main class="py-12 lg:py-20">
        <!-- <Counter client:load /> -->
        <HomeHeader title={title} description={description} />
        <article class="max-w-6xl mx-auto px-3">
            <h1>{title}</h1>
            <slot />
        </article>
        {title == "Products" &&
        <Products />}
    </main>
  </body>
</html>

